<!--{**-->
<!--This xml block adds the location capability to your project.-->
<!--**}-->

<Capabilities>
  <Capability Name="internetClient" />
  <!--{[{-->
    <uap:Capability Name="picturesLibrary" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  <!--}]}-->
</Capabilities>
